<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Rtm_Ps3.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Rtm_Ps3.Settings1>
      <setting name="fov" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ip" serializeAs="String">
        <value>192.168.1.31</value>
      </setting>
      <setting name="knockback" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="renderDistance" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="defaultsPresets" serializeAs="String">
        <value>False</value>
      </setting>
    </Rtm_Ps3.Settings1>
  </applicationSettings>
</configuration>